// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;

// Color
$primary: #FF8101;
$secondary: #BF9F62;
$info: #3ABFF8;
$success: #36D399;
$warning: #FBBD23;
$danger: #F87272;

// Border
$border-width: 1.5px;

// Input Tag
$input-placeholder-color: #adb5bd;
$input-btn-focus-box-shadow: none;
$form-select-focus-box-shadow: none;


// Import Bootstrap variables for use within theme
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Import spacing variables
@import "./variables/spacing.scss";

// Import navigation variables
@import "./variables/navigation.scss";